<template>
  <div id="banner">
    <div class="carousel carousel-slider center">
      <div
        class="carousel-item"
        v-for="item in bannerData"
        :key="item.image.id"
        :style="{background: `url('${item.image.url}')` }"
      >
        <!-- <img :src="item.image.url" alt /> -->
        <div class="banner-overlay">
          <div class="caption white-text left-align">
            <h3>{{ item.image.title}}</h3>

            <div class="caption-text">{{item.image.caption}}</div>

            <a
              :href="item.url"
              class="btn waves-effect white grey-text z-depth-0 rounded24"
            >View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";

export default {
  name: "Banner",
  props: {
    bannerData: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      carousel: {
        instance: null,
        options: {
          fullWidth: true,
          indicators: true
        }
      }
    };
  },
  mounted() {
    this.$_initCarousel();
    this.beginAutoPlay();
  },
  beforeDestroy() {
    this.carousel.instance.destroy();
  },
  methods: {
    $_initCarousel() {
      const el = this.$el.querySelector(".carousel");

      this.carousel.instance = M.Carousel.init(el, this.carousel.options);
    },

    beginAutoPlay() {
      setInterval(() => {
        this.carousel.instance.next();
      }, 4500);
    }
  }
};
</script>

<style lang="scss" scoped>
#banner {
  position: relative;
  .carousel-item {
    height: 550px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .banner-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        200deg,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.45)
      );
    }

    .caption {
      position: absolute;
      top: 50%;
      left: 8%;
      // opacity: 0;
      width: 70%;

      @media screen and (max-width: 680px) {
        top: 30%;
        width: 82%;

        .caption-text {
          width: 100%;
          font-size: 16px;
          font-weight: 600;
        }
      }

      h3 {
        margin-bottom: 6px;
        font-size: 38px;
        letter-spacing: -1.8px;
        font-weight: 700;
      }
      .caption-text {
        margin: 12px 4px 16px;
        width: 70%;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.45px;
      }

      .rounded24 {
        padding: 0 2rem;
        border-radius: 24px;
      }
    }
  }
}
</style>