<template>
  <div id="app">
    <banner :banner-data="bannerSlides" v-if="bannerSlides" />
  </div>
</template>

<script>
import Banner from "./components/Banner.vue";
const axios = require("axios");
export default {
  name: "App",
  components: {
    Banner
  },
  data() {
    return {
      bannerSlides: null
    };
  },

  mounted() {
    this.getBannerData();
  },
  methods: {
    getBannerData() {
      axios
        .get("https://sldb.lc/wp-json/acf/v3/pages/102/slides")
        .then(response => {
          this.bannerSlides = response.data.slides;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss">
#app {
}
</style>
